// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table td {
  height: 120px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.table > tbody > tr > th {
     vertical-align: middle;
}
